<nz-steps [nzCurrent]="current">
    <nz-step nzTitle="Poliçe ve Ödeme Seçenekleri" nzDescription="Farklı Poliçe ve Ödeme Seçeneklerinden Seçiminizi Yapınız..."></nz-step>
    <nz-step nzTitle="Ödeme Sayfası" nzDescription="Farklı Ödeme Yöntemleri..."></nz-step>
    <nz-step nzTitle="Sonuç" nzDescription="Ödeme Sonucunuz..."></nz-step>
  </nz-steps>

  <div class="steps-content">{{ index }}</div>
  <div class="steps-action">
    <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
      <span>Previous</span>
    </button>
    <button nz-button nzType="default" (click)="next()" *ngIf="current < 2">
      <span>Next</span>
    </button>
    <button nz-button nzType="primary" (click)="done()" *ngIf="current === 2">
      <span>Done</span>
    </button>
  </div>
  <div></div>